# 強制從 Git 緩存中移除 dist（這不會刪除您電腦上的檔案，但會讓 GitHub 忽略它）
git rm -r --cached dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略編譯產物
dist
dist-ssr
*.local

# 忽略環境變數
.env
.env.local

# 忽略相依套件
node_modules/